<form [formGroup]="form">
  <p-inputgroup>
    <p-inputgroup-addon>
      <p-button
        severity="secondary"
        [label]="node().type"
        size="small"
        class="path-node-type"
        (click)="onToggleType()"
      />
    </p-inputgroup-addon>
    <p-inputnumber
      id="x2Field"
      size="small"
      name="x2"
      class="path-node-item-value"
      mode="decimal"
      [minFractionDigits]="0"
      [maxFractionDigits]="10"
      [min]="SETTINGS_MIN_NUM"
      [max]="SETTINGS_MAX_NUM"
      [step]="1"
      placeholder="X2"
      title="X2"
      autocomplete="off"
      formControlName="x2"
    />
    <p-inputnumber
      id="y2Field"
      size="small"
      name="y2"
      class="path-node-item-value"
      mode="decimal"
      [minFractionDigits]="0"
      [maxFractionDigits]="10"
      [min]="SETTINGS_MIN_NUM"
      [max]="SETTINGS_MAX_NUM"
      [step]="1"
      placeholder="Y2"
      title="Y2"
      autocomplete="off"
      formControlName="y2"
    />

    <p-inputnumber
      id="xField"
      size="small"
      name="x"
      class="path-node-item-value"
      mode="decimal"
      [minFractionDigits]="0"
      [maxFractionDigits]="10"
      [min]="SETTINGS_MIN_NUM"
      [max]="SETTINGS_MAX_NUM"
      [step]="1"
      placeholder="X"
      title="X"
      autocomplete="off"
      formControlName="x"
    />
    <p-inputnumber
      id="yField"
      size="small"
      name="y"
      class="path-node-item-value"
      mode="decimal"
      [minFractionDigits]="0"
      [maxFractionDigits]="10"
      [min]="SETTINGS_MIN_NUM"
      [max]="SETTINGS_MAX_NUM"
      [step]="1"
      placeholder="Y"
      title="Y"
      autocomplete="off"
      formControlName="y"
    />
  </p-inputgroup>
</form>
