<p-splitter
  [panelSizes]="[20, 85]"
  [minSizes]="[10, 50]"
  layout="vertical"
  class="h-100"
  [style.height]="'calc(100vh - 94px)'"
>
  <ng-template #panel>
    <div class="w-100 h-100 overflow-auto">
      <view-structure></view-structure>
    </div>
  </ng-template>
  <ng-template #panel>
    <div class="w-100 h-100 overflow-auto">
      <p-tabs [value]="0" scrollable>
        <p-tablist>
          <p-tab [value]="0">Properties</p-tab>
          <p-tab [value]="1">Actions</p-tab>
        </p-tablist>
        <p-tabpanels>
          <p-tabpanel [value]="0">
            <panel-properties></panel-properties>
          </p-tabpanel>
          <p-tabpanel [value]="1">
            <panel-actions></panel-actions>
          </p-tabpanel>
        </p-tabpanels>
      </p-tabs>
    </div>
  </ng-template>
</p-splitter>
