@if (form) {
  <form [formGroup]="form">
    <group-properties-style [form]="form"></group-properties-style>
    <!-- X1 -->
    <p-floatlabel variant="on" class="mb-1">
      <p-inputgroup>
        <p-inputnumber
          id="x1Field"
          size="small"
          name="x1"
          formControlName="x1"
          class="w-100"
          mode="decimal"
          [minFractionDigits]="0"
          [maxFractionDigits]="10"
          [min]="-99999"
          [max]="99999"
          [step]="1"
        />
        <p-inputgroup-addon>
          <p-button icon="pi pi-lock" severity="secondary" fieldLock="x1" />
        </p-inputgroup-addon>
      </p-inputgroup>
      <label for="x1Field">X1</label>
    </p-floatlabel>
    <!-- Y -->
    <p-floatlabel variant="on" class="mb-1">
      <p-inputgroup>
        <p-inputnumber
          id="y1Field"
          size="small"
          name="y1"
          formControlName="y1"
          class="w-100"
          mode="decimal"
          [minFractionDigits]="0"
          [maxFractionDigits]="10"
          [min]="-99999"
          [max]="99999"
          [step]="1"
        />
        <p-inputgroup-addon>
          <p-button icon="pi pi-lock" severity="secondary" fieldLock="y1" />
        </p-inputgroup-addon>
      </p-inputgroup>
      <label for="yField">Y1</label>
    </p-floatlabel>
    <!-- X2 -->
    <p-floatlabel variant="on" class="mb-1">
      <p-inputgroup>
        <p-inputnumber
          id="x2Field"
          size="small"
          name="x2"
          formControlName="x2"
          class="w-100"
          mode="decimal"
          [minFractionDigits]="0"
          [maxFractionDigits]="10"
          [min]="-99999"
          [max]="99999"
          [step]="1"
        />
        <p-inputgroup-addon>
          <p-button icon="pi pi-lock" severity="secondary" fieldLock="x2" />
        </p-inputgroup-addon>
      </p-inputgroup>
      <label for="x2Field">X2</label>
    </p-floatlabel>
    <!-- Y2 -->
    <p-floatlabel variant="on" class="mb-1">
      <p-inputgroup>
        <p-inputnumber
          id="y2Field"
          size="small"
          name="y2"
          formControlName="y2"
          class="w-100"
          mode="decimal"
          [minFractionDigits]="0"
          [maxFractionDigits]="10"
          [min]="-99999"
          [max]="99999"
          [step]="1"
        />
        <p-inputgroup-addon>
          <p-button icon="pi pi-lock" severity="secondary" fieldLock="y2" />
        </p-inputgroup-addon>
      </p-inputgroup>
      <label for="y2Field">Y2</label>
    </p-floatlabel>
  </form>
}
