@if (form) {
  <form [formGroup]="form">
    <!-- Fill -->
    <p-floatlabel variant="on" class="mb-1">
      <p-inputgroup>
        <input class="input-color p-filled" type="color" formControlName="fill" />
        <p-inputgroup-addon>
          <p-button icon="pi pi-lock" severity="secondary" fieldLock="fill" />
        </p-inputgroup-addon>
      </p-inputgroup>
      <label for="fillField">Fill</label>
    </p-floatlabel>
    <!-- Stroke -->
    <p-floatlabel variant="on" class="mb-1">
      <p-inputgroup>
        <input class="input-color p-filled" type="color" formControlName="stroke" />
        <p-inputgroup-addon>
          <p-button icon="pi pi-lock" severity="secondary" fieldLock="stroke" />
        </p-inputgroup-addon>
      </p-inputgroup>
      <label for="strokeField">Stroke</label>
    </p-floatlabel>
    <!-- Stroke Width -->
    <p-floatlabel variant="on" class="mb-1">
      <p-inputgroup>
        <p-inputnumber
          id="strokeWidthField"
          size="small"
          name="strokeWidth"
          formControlName="strokeWidth"
          class="w-100"
          mode="decimal"
          [minFractionDigits]="0"
          [maxFractionDigits]="10"
          [min]="0"
          [max]="999"
          [step]="1"
        />
        <p-inputgroup-addon>
          <p-button icon="pi pi-lock" severity="secondary" fieldLock="strokeWidth" />
        </p-inputgroup-addon>
      </p-inputgroup>
      <label for="strokeWidthField">Stroke Width</label>
    </p-floatlabel>
    <!-- X -->
    <p-floatlabel variant="on" class="mb-1">
      <p-inputgroup>
        <p-inputnumber
          id="xField"
          size="small"
          name="x"
          formControlName="x"
          class="w-100"
          mode="decimal"
          [minFractionDigits]="0"
          [maxFractionDigits]="10"
          [min]="0"
          [max]="99999"
          [step]="1"
        />
        <p-inputgroup-addon>
          <p-button icon="pi pi-lock" severity="secondary" fieldLock="x" />
        </p-inputgroup-addon>
      </p-inputgroup>
      <label for="xField">X</label>
    </p-floatlabel>
    <!-- Y -->
    <p-floatlabel variant="on" class="mb-1">
      <p-inputgroup>
        <p-inputnumber
          id="yField"
          size="small"
          name="y"
          formControlName="y"
          class="w-100"
          mode="decimal"
          [minFractionDigits]="0"
          [maxFractionDigits]="10"
          [min]="0"
          [max]="99999"
          [step]="1"
        />
        <p-inputgroup-addon>
          <p-button icon="pi pi-lock" severity="secondary" fieldLock="y" />
        </p-inputgroup-addon>
      </p-inputgroup>
      <label for="yField">Y</label>
    </p-floatlabel>
    <!-- Width -->
    <p-floatlabel variant="on" class="mb-1">
      <p-inputgroup>
        <p-inputnumber
          id="widthField"
          size="small"
          name="width"
          formControlName="width"
          class="w-100"
          mode="decimal"
          [minFractionDigits]="0"
          [maxFractionDigits]="10"
          [min]="0"
          [max]="99999"
          [step]="1"
        />
        <p-inputgroup-addon>
          <p-button icon="pi pi-lock" severity="secondary" fieldLock="width" />
        </p-inputgroup-addon>
      </p-inputgroup>
      <label for="widthField">Width</label>
    </p-floatlabel>
    <!-- Height -->
    <p-floatlabel variant="on" class="mb-1">
      <p-inputgroup>
        <p-inputnumber
          id="heightField"
          size="small"
          name="height"
          formControlName="height"
          class="w-100"
          mode="decimal"
          [minFractionDigits]="0"
          [maxFractionDigits]="10"
          [min]="0"
          [max]="99999"
          [step]="1"
        />
        <p-inputgroup-addon>
          <p-button icon="pi pi-lock" severity="secondary" fieldLock="height" />
        </p-inputgroup-addon>
      </p-inputgroup>
      <label for="heightField">Height</label>
    </p-floatlabel>
    <!-- RX -->
    <p-floatlabel variant="on" class="mb-1">
      <p-inputgroup>
        <p-inputnumber
          id="rxField"
          size="small"
          name="rx"
          formControlName="rx"
          class="w-100"
          mode="decimal"
          [minFractionDigits]="0"
          [maxFractionDigits]="10"
          [min]="0"
          [max]="99999"
          [step]="1"
        />
        <p-inputgroup-addon>
          <p-button icon="pi pi-lock" severity="secondary" fieldLock="rx" />
        </p-inputgroup-addon>
      </p-inputgroup>
      <label for="rxField">RX</label>
    </p-floatlabel>
    <!-- RY -->
    <p-floatlabel variant="on" class="mb-1">
      <p-inputgroup>
        <p-inputnumber
          id="ryField"
          size="small"
          name="ry"
          formControlName="ry"
          class="w-100"
          mode="decimal"
          [minFractionDigits]="0"
          [maxFractionDigits]="10"
          [min]="0"
          [max]="99999"
          [step]="1"
        />
        <p-inputgroup-addon>
          <p-button icon="pi pi-lock" severity="secondary" fieldLock="ry" />
        </p-inputgroup-addon>
      </p-inputgroup>
      <label for="ryField">RY</label>
    </p-floatlabel>
  </form>
}
