@if (pathItem(); as pathItem) {
  <div>
    @switch (pathItem.typeAbsolute) {
      @case ('M') {
        <path-nodes-m
          [node]="pathItem"
          [x]="pathItem.x"
          [y]="pathItem.y"
          [pathId]="nodeId()"
          (changeNode)="onChange($event)"
        ></path-nodes-m>
      }
      @case ('A') {
        <path-nodes-a [node]="pathItem" [pathId]="nodeId()" (changeNode)="onChange($event)"></path-nodes-a>
      }
      @case ('H') {
        <path-nodes-h [node]="pathItem" [pathId]="nodeId()" (changeNode)="onChange($event)"></path-nodes-h>
      }
      @case ('L') {
        <path-nodes-l
          [node]="pathItem"
          [x]="pathItem.x"
          [y]="pathItem.y"
          [pathId]="nodeId()"
          (changeNode)="onChange($event)"
        ></path-nodes-l>
      }
      @case ('V') {
        <path-nodes-v [node]="pathItem" [pathId]="nodeId()" (changeNode)="onChange($event)"></path-nodes-v>
      }
      @case ('C') {
        <path-nodes-c [node]="pathItem" [pathId]="nodeId()" (changeNode)="onChange($event)"></path-nodes-c>
      }
      @case ('S') {
        <path-nodes-s [node]="pathItem" [pathId]="nodeId()" (changeNode)="onChange($event)"></path-nodes-s>
      }
      @case ('T') {
        <path-nodes-t [node]="pathItem" [pathId]="nodeId()" (changeNode)="onChange($event)"></path-nodes-t>
      }
      @case ('Q') {
        <path-nodes-q [node]="pathItem" [pathId]="nodeId()" (changeNode)="onChange($event)"></path-nodes-q>
      }
      @case ('Z') {
        <path-nodes-z [node]="pathItem" [pathId]="nodeId()" (changeNode)="onChange($event)"></path-nodes-z>
      }
    }
  </div>
  <div>
    <p-menubar [model]="menuAvtions" class="path-node-actions" />
  </div>
}
