@if (fields(); as fields) {
  <div [formGroup]="form()">
    <!-- Fill -->
    @if (fields.includes('fill')) {
      <p-floatlabel variant="on" class="mb-1">
        <p-inputgroup>
          <input-svg-color formControlName="fill"></input-svg-color>
          <p-inputgroup-addon>
            <p-button icon="pi pi-lock" severity="secondary" fieldLock="fill" />
          </p-inputgroup-addon>
        </p-inputgroup>
        <label for="fillField">Fill</label>
      </p-floatlabel>
    }

    <!-- Stroke -->
    @if (fields.includes('stroke')) {
      <p-floatlabel variant="on" class="mb-1">
        <p-inputgroup>
          <input-svg-color formControlName="stroke"></input-svg-color>
          <p-inputgroup-addon>
            <p-button icon="pi pi-lock" severity="secondary" fieldLock="stroke" />
          </p-inputgroup-addon>
        </p-inputgroup>
        <label for="strokeField">Stroke</label>
      </p-floatlabel>
    }

    <!-- Stroke Width -->
    @if (fields.includes('strokeWidth')) {
      <p-floatlabel variant="on" class="mb-1">
        <p-inputgroup>
          <p-inputnumber
            id="strokeWidthField"
            size="small"
            name="strokeWidth"
            formControlName="strokeWidth"
            class="w-100"
            mode="decimal"
            [minFractionDigits]="0"
            [maxFractionDigits]="10"
            [min]="0"
            [max]="999"
            [step]="1"
          />
          <p-inputgroup-addon>
            <p-button icon="pi pi-lock" severity="secondary" fieldLock="strokeWidth" />
          </p-inputgroup-addon>
        </p-inputgroup>
        <label for="strokeWidthField">Stroke Width</label>
      </p-floatlabel>
    }

    <!-- Transform -->
    @if (fields.includes('transform')) {
      <p-floatlabel variant="on" class="mb-1">
        <p-inputgroup>
          <input
            type="text"
            pInputText
            id="transformField"
            size="small"
            name="transformField"
            formControlName="transform"
            class="w-100"
          />
          <p-inputgroup-addon>
            <p-button icon="pi pi-lock" severity="secondary" fieldLock="transform" />
          </p-inputgroup-addon>
        </p-inputgroup>
        <label for="transformField">Transform</label>
      </p-floatlabel>
    }

    <!-- Style -->
    @if (fields.includes('style')) {
      <p-floatlabel variant="on" class="mb-1">
        <p-inputgroup>
          <input
            type="text"
            pInputText
            id="styleField"
            size="small"
            name="styleField"
            formControlName="style"
            class="w-100"
          />
          <p-inputgroup-addon>
            <p-button icon="pi pi-lock" severity="secondary" fieldLock="style" />
          </p-inputgroup-addon>
        </p-inputgroup>
        <label for="styleField">Style</label>
      </p-floatlabel>
    }
  </div>
}
