<form [formGroup]="form">
  <p-inputgroup>
    <p-inputgroup-addon>
      <p-button
        severity="secondary"
        [label]="node().type"
        size="small"
        class="path-node-type"
        (click)="onToggleType()"
      />
    </p-inputgroup-addon>
    <p-inputnumber
      id="xField"
      size="small"
      name="x"
      class="path-node-item-value"
      mode="decimal"
      [minFractionDigits]="0"
      [maxFractionDigits]="10"
      [min]="SETTINGS_MIN_NUM"
      [max]="SETTINGS_MAX_NUM"
      [step]="1"
      placeholder="X"
      title="X"
      autocomplete="off"
      formControlName="x"
    />
  </p-inputgroup>
</form>
