.application-name {
  margin: 0px;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: default;
}

.main-menu-bar {
  position: relative;
  z-index: 100;
}

.application-logo {
  display: flex;
  gap: 2px;
  align-items: center;
}
