<form [formGroup]="form">
  <p-inputgroup>
    <p-inputgroup-addon>
      <p-button
        severity="secondary"
        [label]="node().type"
        size="small"
        class="path-node-type"
        (click)="onToggleType()"
      />
    </p-inputgroup-addon>
    <p-inputnumber
      id="rxField"
      size="small"
      name="rx"
      class="path-node-item-value"
      mode="decimal"
      [minFractionDigits]="0"
      [maxFractionDigits]="10"
      [min]="0"
      [max]="999"
      [step]="1"
      placeholder="RX"
      title="RX"
      autocomplete="off"
      formControlName="rx"
    />
    <p-inputnumber
      id="ryField"
      size="small"
      name="ry"
      class="path-node-item-value"
      mode="decimal"
      [minFractionDigits]="0"
      [maxFractionDigits]="10"
      [min]="0"
      [max]="999"
      [step]="1"
      placeholder="RY"
      title="RY"
      autocomplete="off"
      formControlName="ry"
    />

    <p-inputgroup-addon><p-checkbox formControlName="xAxisRotation" [binary]="true" /></p-inputgroup-addon>
    <p-inputgroup-addon><p-checkbox formControlName="largeArcFlag" [binary]="true" /></p-inputgroup-addon>
    <p-inputgroup-addon><p-checkbox formControlName="sweepFlag" [binary]="true" /></p-inputgroup-addon>

    <p-inputnumber
      id="xField"
      size="small"
      name="x"
      class="path-node-item-value"
      mode="decimal"
      [minFractionDigits]="0"
      [maxFractionDigits]="10"
      [min]="0"
      [max]="999"
      [step]="1"
      placeholder="X"
      title="X"
      autocomplete="off"
      formControlName="x"
    />
    <p-inputnumber
      id="yField"
      size="small"
      name="y"
      class="path-node-item-value"
      mode="decimal"
      [minFractionDigits]="0"
      [maxFractionDigits]="10"
      [min]="0"
      [max]="999"
      [step]="1"
      placeholder="Y"
      title="Y"
      autocomplete="off"
      formControlName="y"
    />
  </p-inputgroup>
</form>
