<form [formGroup]="form">
  <group-properties-style [form]="form"></group-properties-style>
  <p-floatlabel variant="on" class="mb-1">
    <textarea
      id="dField"
      rows="5"
      size="small"
      class="w-100 p-filled"
      name="d"
      [rows]="4"
      [readonly]="true"
      pTextarea
      formControlName="d"
    ></textarea>
    <label for="dField">D (path)</label>
  </p-floatlabel>

  <p-accordion value="0">
    <p-accordion-panel value="0">
      <p-accordion-header>Commands</p-accordion-header>
      <p-accordion-content>
        <group-path-property-commands [node]="node()"></group-path-property-commands>
      </p-accordion-content>
    </p-accordion-panel>
  </p-accordion>
</form>
