/* You can add global styles to this file, and also import other style files */
@use './styles/reset';
@use './styles/layout';
@use './styles/utils';
@import 'primeicons/primeicons.css';

.input-color {
  width: 100%;
  border: 1px solid var(--p-inputtext-border-color);
  background: var(--p-inputtext-background);
  height: 44px;
}

line.grid-line {
  stroke: rgba(128, 128, 128, 0.5);
  pointer-events: none;
}

.fieldset-small {
  .p-fieldset-legend {
    font-size: 1rem;
  }
}

.p-floatlabel label {
  user-select: none;
}

svg text {
  user-select: none;
}

/*.p-inputtext-sm {
  font-size: var(--p-inputtext-sm-font-size);
  padding-block: var(--p-inputtext-sm-padding-y);
  padding-inline: var(--p-inputtext-sm-padding-x);
}*/

/*
font-size: var(--p-button-sm-font-size);
    padding-block: var(--p-button-sm-padding-y);
    padding-inline: var(--p-button-sm-padding-x);
*/

.logo {
  background-image: url(../public/logo.png);
  aspect-ratio: 672 / 448;
  height: 32px;
  display: inline-block;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

:root {
  --p-form-field-sm-font-size: 0.75rem;
  --p-form-field-sm-padding-x: 0.3rem;
  --p-form-field-sm-padding-y: 0.25rem;
}
